*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode/initcode
initcode/initcode.out
kernelmemfs
kernel/kernel
kernel/kernel.ld
kernel/kernel.bin
user/usys.S
.gdbinit
milkv-duo_sdcard.img
kernel/mmc.c
kernel/mmc.h
kernel/memalign.h
kernel/sdhci.c
kernel/sdhci.h
kernel/sdhci_reg.h
doc/src/err_log_1.txt
kernel/exec_rpi.c
mmap.diff
